
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('/images/background.png'); 
    background-size: cover;
    background-position: center;
    color: #333;
}


.container {
    background-color: rgba(223, 218, 200, 0.95); 
    margin: 2rem auto;
    padding: 1.5rem;
    max-width: 1100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #2C3E50;
}

.logout-btn {
    background-color: #E74C3C;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #C0392B;
}

.manage-books, .last-added-books {
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.manage-books {
    background-color: rgba(239, 234, 216, 0.95); /* Açık gri */
}

.manage-books h2, .last-added-books h2 {
    font-size: 1.5rem;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.action-btn {
    background-color: #3498DB;
    color: white;
    border: 20px solid #3498DB;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

.action-btn:hover {
    background-color: white;
    color: #3498DB;
}


.last-added-books {
    margin: 2rem 0;
    padding: 1rem;
}

.last-added-books h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}


.scroll-container {
    display: flex; 
    gap: 1rem; 
    overflow-x: auto; 
    padding-bottom: 1rem;
    scrollbar-width: thin; 
   background-color:rgba(239, 234, 216, 0.95) ;
}


.book-card {
    flex: 0 0 auto; 
    width: 150px;
    background-color: #e9e2cb;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.book-card img {
    width: 100%;
    border-radius: 5px;
}

.book-card h3 {
    font-size: 1rem;
    color: #333;
    margin-top: 0.5rem;
}

.book-card:hover {
    transform: translateY(-5px);
}

.scroll-container::-webkit-scrollbar {
    height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
}
