body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/background.png'); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition:  0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    background: #45a049;
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-container {
    background-color: rgba(245, 240, 222, 0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 400px;
    height: 300px;
    padding: 20px;
    text-align: center;
    
}

.input-group {
    display: flex;
    align-items: center;
    margin: 15px 0;
    border: 1px solid #f3e8e8;
    border-radius: 8px;
    padding: 10px;
}

.input-group i {
    margin-right: 10px;
    color: #777;
}

.input-group input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

.btn-field {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn-field button {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

.btn-field button:hover {
    background: #45a049;
}

.btn-field button[type="button"] {
    background: #2196F3;
}

.btn-field button[type="button"]:hover {
    background: #0b7dda;
}